.column-1-container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.column-1-title {
  padding: 8px;
}

.column-1-words {
  padding: 8px;
}

.hidden {
  display: none;
}

.visible {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 100%
}
