.handout-view-container {
  margin: 15px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.handout-view-container h2, h5 {
  text-align: center;
}

.handout-view-container h5 {
  padding-bottom: 5px;
}

.image {
  width: 200px;
  height: 300px;
  align-self: center;
}

.columns-container {
  display: flex;
}

.column {
  margin: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
