.all-vocab-forms-container {
  padding: 20px;
}

.vocab-form-container, .definition-form-container {
  display: flex;

}

.suggested-words-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.highlight {
  background-color: lightblue;
}
