.body {
  background-color: aliceblue;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-menu h1 {
  color: blue;
  font-weight: 700;
  font-size: 3.5em;
}

.splash-container {
  position: relative;
  text-align: center;
  color: #333333;
}

img {
  max-height: 100%;
  width: 100%;
  opacity: .8;
}

.intro-heading {
  position: absolute;
  top: 5%;
  background: #ffffff;
  opacity: .85;
}

.intro-more {
  position: absolute;
  top: 20%;
  right: 0%;
  background: #ffffff;
  opacity: .85;
}

a .title {
  color: darkblue;
  font-family: 'IM Fell English', serif;
  font-size: 4rem;
  font-weight: 500;
}

a:link {
  text-decoration: none;
}
